*{
    margin: 0;
    font-family: sans-serif;
}
header{
    position: fixed;
    width: 100%;
    top:0;
    padding: .5%;
    background-color: #E78200;
    display: flex;
    justify-content:flex-end;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 32px;
}
.invisible{
    display: none;
}
h1{
    font-size: xx-large;
}
header nav{
    display: flex;  
}
header nav a{
    display: inline-block;
    transition: .5s;
    fill: #232d34;
    margin: auto 20px;
}
header img{
    margin: 0;
    padding: 1%;
    background-color: white;
    border-radius: 4px;
    height: 32px;
}
.header-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-input-container{
    width: 100%;
    border-radius: 15px;
    border: 1px solid #232d34;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-color: #E78200;
}
.header-input input{
    width: 86%;
    height: 30px;
    border: none;
    outline: none;
    color:#232d34;
    background-color: #ffffff00;
}
.header-input-container:hover{
    box-shadow: 0 1px 6px 0 #c2c2c2;
    border-color: #eeeeee;

}
.header-input .search-icon{
    background-image: url("https://cdn2.iconfinder.com/data/icons/user-interface-169/32/search-256.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 17px;
    height: 17px;
    margin-left: 2%;
}
#twitter:hover{
    fill: rgb(255, 255, 255);
}
#github:hover{
    fill: #ffffff;
}
main{
    margin-top: 70px;
}
main aside {
    position: fixed;
    right: 2%;
    border-left: 1px solid #c2c2c2;
    height: 85%;
  }
.nav-left{
    position: fixed;
    float: left;
    padding: 1%;
    border-right: 1px solid #c2c2c2;
    height: 81%;
}
main aside a, .nav-left a{
    text-decoration: none;
    color:#232d34;
}
main aside li, .nav-left li{
    width: 150px;
}
main aside li ul li, .nav-left li ul li{
    margin: 5% auto;
}
main section{
    margin-top: 2%;
    margin-left: 17%;
    margin-right: 17%;
}
main section img{
    justify-content: center;
    width: 95%;
    margin-left: 2.5%;
}
#logo{
    width: 60%;
    margin: 2% auto;
}
.img{
    text-align: center;
}
.img p{
    font-size: large;
    margin: 5%;
}
h1, h2, h3{
    margin: 2%;
    text-align: center;
}
main section p{
    margin: 2% 10%;
    line-height: 150%;
}